/* -------------------------------
    + button
---------------------------------*/

.btn {
    display: inline-block;
    border: 0;
    padding: 1em;
    border-radius: 2px;
    background: $color-primary;
    text-transform: uppercase;
    color: $color-secondary-light;
    letter-spacing: 0.05em;
    font-weight: lighter;
    font-size: .8em;
    text-decoration: none;
    transition: all 100ms ease-in;

    &:hover {
        background: $color-secondary-light;
        color: $color-primary;
    }
}