label {
	display: block;
}

form {
	margin: 20px;
	padding: 10px;

	h2 {
		font-family: 'Pacifico', cursive;
		color: $color-primary;
		font-size: 40px;
		padding: 10px;
	}
}

input, textarea {
	border-radius: 5px;
	padding: 10px;
	width: 100%;
}