label {
	display: block;
}

h2 {
	font-family: 'Pacifico', cursive;
	font-size: 40px;
	padding: 10px 0px;
}

.contactForm {
	margin: 20px;
	padding: 10px;

	h2 {
		font-family: 'Pacifico', cursive;
		font-size: 40px;
		padding: 10px 0px;
	}
}

input, textarea {
	border-radius: 5px;
	padding: 10px;
	width: 100%;
}