.col1, .col2 {
	padding: 20px;
}

.footerText {
	padding-top: 10px;
}

footer {
	background: linear-gradient(to bottom right, $color-primary-dark, $color-secondary-dark);
	color: $color-secondary-light; 
	text-align: center;
	font-family: 'Oswald', sans-serif;

	h2 {
		font-family: 'Pacifico', cursive;
		font-size: 40px;
		padding: 10px;
	}

	p {
		font-size: 18px;
		padding: 5px 0px;
	}

	li {
		font-size: 18px;
		min-width: 20px;
		display: inline-block;
		padding: 10px;
		margin: 5px;
		border-radius: 5px; 
		border: 2px solid #FFFBFF;
	}

	li a {
		color: $color-secondary-light; 
	}

	li:hover {
		color: $color-secondary-light; 
		background-color: $color-primary-dark;
	}	

}









