/* -------------------------------
    + layout
---------------------------------*/

///////////////////////
// FOR*DEBUGGING*ONLY*
//////////////////////
// *:not(path):not(g) {
//     color:                    hsla(210, 100%, 100%, 0.9) !important;
//     background:               hsla(210, 100%,  50%, 0.5) !important;
//     outline:    solid 0.25rem hsla(210, 100%, 100%, 0.5) !important;
//     box-shadow: none !important; }
///////////////////////

// Less than 480px wide (Default)

* {
    box-sizing: border-box;
}

.wrapper {
    // should be inside semantic container elements such as a <header>/<main>/<footer> etc only - to 'wrap'/keep inner content from becoming too wide at certain sizes
    width: 100%;
    padding: 0 1em;
    margin: 0 auto;

    header {
        text-align: center;
        margin: 0 -1em;
        position: relative;
        background: $color-primary url('../images/closeup.jpg') no-repeat;
        background-size: cover;
        padding: 10vw;

        .hero-txt {
            margin-bottom: .7em;
        }
        
    }
}

// More than 480px wide

@media screen and (min-width: 480px){

    .wrapper {
        padding: 0 2em;

        header {
            margin: 0 -3em;
            padding: 15vw;
            text-align: left;
        }
    }
}

// More than 900px wide

@media screen and (min-width: 900px){

    .wrapper {
        min-width: 900px;
        max-width: 1200px;
        padding: 0 3em;

        header {
            .hero-txt {
                max-width: 12em;
                margin-bottom: 1em;
            }
        }
    }
}