/* -------------------------------
    + navbar
---------------------------------*/

header {

    overflow: auto;
    position: relative;
    padding: 3em 0;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #logo {
        display: inline-block;
        color: $color-primary-light;
    }

    nav {

        ul {

            li {
                display: inline-block;
                text-align: center;
                margin-left: 4vw;
                // padding: 1em 0;
                color: $color-primary-light;
            }
        }
    }

    a {
        text-decoration: none;
        color: inherit;
        transition: all 300ms ease;

        &:hover {
            color: $color-primary;
        }
    }
}