/* -------------------------------
    colors
---------------------------------*/

$color-primary: #2462E9;
$color-primary-light: #508BFB;
$color-primary-dark: #0542D4;
$color-secondary: #FFDFFF;
$color-secondary-light: #FFFBFF;
$color-secondary-dark: #E1B0E1;